<section class="container">
<div class="row">
    <div class="col s4 m6 offset-m3">
      <div class="card">
        <div class="card-image">
          <img src="{{detailCraftman.img}}" style="width: 100%;">
        </div>
        <div class="card-content">
          <h6>{{detailCraftman.name}}</h6>
          <p>{{detailCraftman.about}}</p>
          <h5>{{detailCraftman.location.address}}</h5>

<div id='map' style='width: 400px; height: 300px;'></div>

        </div>
      </div>
    </div>
    </div>

<section class="container" id="cards">
<div class="row">
{{#each products}}
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{this.img}}">
          <a class="btn-floating halfway-fab waves-effect waves-light acqua"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <h6>{{this.name}}</h6>
          <p>Categoría: {{this.category}}</p>
          <span>${{this.price}}</span>
          <br>
          <a href="/products/detail/{{this._id}}">Ver detalle</a>
        </div>
      </div>
    </div>
    {{/each}}
    </div>
    </section>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZXN0ZWJndHptdHoiLCJhIjoiY2s2ODJvMjhhMDBuZzNrcGo5c2c2MWNyYSJ9.HwRriMjiss7eIVq6E8iyxw';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center:[{{detailCraftman.location.coordinates}}],
    zoom: 15
  });
const popup = new mapboxgl.Popup({ offset: 15 }).setText('{{detailCraftman.name}}');
  const el = document.createElement('p');
  el.target = '_blank'
  el.id = 'marker';
  // create the marker
  new mapboxgl.Marker(el)
    .setLngLat([{{ detailCraftman.location.coordinates }}])
    .setPopup(popup)
    .addTo(map)
</script>

</section>