<header>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">artesanías México</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="products.hbs">Usuario: {{this.username}}</a></li>
        <li><a href="perfil.hbs">Perfil</a></li>
        <li><a href="login.hbs">Logout</a></li>
      </ul>
    </div>
  </nav>


  <ul class="sidenav" id="mobile-demo">
    <li><a href="products.hbs">Usuario: {{this.username}}</a></li>
    <li><a href="products.hbs">Perfil</a></li>
    <li><a href="mobile.html">Logout</a></li>
  </ul>
  <section class="header-main-pic"></section>
  </header>



<!--start-form-->
<section class="container">
<div class="row">
<h4>Artesano</h4>
<form class="col s12" action="/dashboard" method="POST" enctype="multipart/form-data">
<div class="input-field col s4">
  <input class="validate" type="text" name="name" placeholder="name" required/>
  <label for="first_name">Name</label>
 </div> 
  
  <div class="row">
  <div class="input-field col s4">
  <select class="browser-default" name="region">
    {{#each options}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  </div>
  </div> 
  
  <div class="row">
  <div class="input-field col s4">
  <input class="validate" type="text" name="about" placeholder="Acerca de....">
  </div>
  <div class="input-field col s4">
  <input type="file" name="img" accept="image/*"/>
  </div>

  <div class="input-field col s4">
  <input class="waves-effect waves-light btn-large" type="submit" value="CREAR">
  </div>
  </div>

    <div id="map"></div>  
    <input type="text" name="address" hidden>
    <input type="text" name="latitude" hidden>
    <input type="text" name="longitude" hidden>

  <input type="submit" value="CREAR">

</form>
</div>
</div>
<!--end-form-->


<!--start-form-->

        

<!--end-form-->




<table class="striped" style="width: 50vw;">
  <tr>
    <th>Nombre</th>
    <th>Region</th>
    <th>Borrar</th>
    <th>Detalle</th>
  </tr>
  {{#each craftman}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.region}}</td>
    <td><a href="/dashboard/{{this._id}}">Eliminar</a></td>
    <td><a href="/dashboard/detail/{{this._id}}">Ver Detalle</a></td>
  </tr>
  {{/each}}
</table>