
<!--start-form-->
<section class="container">
<div class="row">
<h4>Artesano</h4>
<form class="col s12 m6 offset-m3" action="/dashboard" method="POST" enctype="multipart/form-data">
<div class="input-field col s12">
  <input class="validate" type="text" name="name" placeholder="name" required/>
  <label for="first_name">Name</label>
 </div> 
  
  <div class="row">
  <div class="input-field col s12">
  <select class="browser-default" name="region">
    {{#each options}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  </div>
  </div> 
  
  <div class="row">
  <div class="input-field col s12">
  <input class="validate" type="text" name="about" placeholder="Acerca de....">
  </div>
  <div class="input-field col s12">
  <input type="file" name="img" accept="image/*"/>

  </div>
  <div class="input-field col s12">
  </div>
  </div>

   <div id="map"></div>
    <input type="text" name="address" hidden>
    <input type="text" name="latitude" hidden>
    <input type="text" name="longitude" hidden>
  <br><br>
    <input id="crear_button" class="waves-effect waves-light btn-large" type="submit" value="CREAR">

</form>
</div>
</div>
<!--end-form-->


<table class="striped">
  <tr>
    <th>Nombre</th>
    <th>Region</th>
    <th>Borrar</th>
    <th>Detalle</th>
  </tr>
  {{#each craftman}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.region}}</td>
    <td><a href="/dashboard/{{this._id}}">Eliminar</a></td>
    <td><a href="/dashboard/detail/{{this._id}}">Ver Detalle</a></td>
  </tr>
  {{/each}}
</table>
</section>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZXN0ZWJndHptdHoiLCJhIjoiY2s2ODJvMjhhMDBuZzNrcGo5c2c2MWNyYSJ9.HwRriMjiss7eIVq6E8iyxw';
  const map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [-102.5527878, 23.6345005],
  zoom: 3
});

const geoCoder = new MapboxGeocoder({
  accessToken: mapboxgl.accessToken,
  countries: 'mx'
});

map.addControl(geoCoder);

map.on('moveend', () => {
  const { lng, lat } = map.getCenter()
  if (lng !== 0 || lat !== 0) {
    new mapboxgl.Marker().setLngLat([lng, lat]).addTo(map);
    const address = document.querySelector('input[placeholder="Search"]').value;
    const addressInput = document.querySelector('input[name="address"]');
    const latInput = document.querySelector('input[name="latitude"]');
    const lngInput = document.querySelector('input[name="longitude"]');
    latInput.value = lat;
    lngInput.value = lng;
    addressInput.value = address;
  }
});

</script>

