
<!--start-form-->
<section class="container">
<div class="row">
<h4>Artesano</h4>
<form class="col s12 m6 offset-m3" action="/dashboard" method="POST" enctype="multipart/form-data">
<div class="input-field col s12">
  <input class="validate" type="text" name="name" placeholder="name" required/>
  <label for="first_name">Name</label>
 </div> 
  
  <div class="row">
  <div class="input-field col s12">
  <select class="browser-default" name="region">
    {{#each options}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>
  </div>
  </div> 
  
  <div class="row">
  <div class="input-field col s12">
  <input class="validate" type="text" name="about" placeholder="Acerca de....">
  </div>
  <div class="input-field col s12">
  <input type="file" name="img" accept="image/*"/>
  </div>

  <div class="input-field col s12">
  <input id="crear_button" class="waves-effect waves-light btn-large" type="submit" value="CREAR">
  </div>
  </div>
</form>
</div>
</div>
<!--end-form-->

<table class="striped">
  <tr>
    <th>Nombre</th>
    <th>Region</th>
    <th>Borrar</th>
    <th>Detalle</th>
  </tr>
  {{#each craftman}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.region}}</td>
    <td><a href="/dashboard/{{this._id}}">Eliminar</a></td>
    <td><a href="/dashboard/detail/{{this._id}}">Ver Detalle</a></td>
  </tr>
  {{/each}}
</table>

</section>