<header>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">artesanías México</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="products.hbs">Usuario: {{this.username}}</a></li>
        <li><a href="perfil.hbs">Perfil</a></li>
        <li><a href="login.hbs">Logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="products.hbs">Usuario: {{this.username}}</a></li>
    <li><a href="products.hbs">Perfil</a></li>
    <li><a href="mobile.html">Logout</a></li>
  </ul>
  <section class="header-main-pic"></section>
  </header>





<div class="container"> 
<div class="row container">
    <div class="col s12 m8 offset-m2">
      <div class="card large">
        <div class="card-image">
        {{#if user.googleID}}
<img class="profile-img" src="{{craftman.img}}" alt="{{craftman.name}}">
{{else}}
  <img class="profile-img" src="{{craftman.img}}" alt="{{craftman.name}}">
{{/if}}
          <span class="card-title">name: {{user.username}}</span>
          
        </div>
        <div class="card-content">
          <h4>{{craftman.name}}</h4>
           <h6 class="center-align">{{craftman._id}}</h6>
          <p>{{craftman.region}}</p>
         
        </div>
        <div class="card-action center-align">
          <a class="waves-effect waves-light btn-large" href="/dashboard">dashboard</a>
          <br></br>
          <a href="/logout">logout</a>
        </div>
      </div>
    </div>
  </div>
  </div>

<table class="striped" style="width: 50vw;">
  <tr>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Borrar</th>
  </tr>

</table>
  {{!-- {{#each craftman}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.region}}</td>
    <td><a href="/dashboard/{{this._id}}">Eliminar</a></td>
    <td><a href="/dashboard/detail/{{this._id}}">Ver Detalle</a></td>
  </tr>
  {{/each}} --}}


<button class="waves-effect waves-light btn-small"id="myBtn">Agregar artesania</button>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form action="/dashboard/createProduct/{{craftman._id}}" method="POST">
      <input type="text" name="name" placeholder="name">
      <br><br>
      <input type="number" name="price" placeholder="price">
      <br><br>
      <input type="number" name="quantity" placeholder="quantity">
        <br><br>
      <input type="text" name="description" placeholder="description">
        <br><br>
      <select name="category" style="width: 30%;">
        {{#each category}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
        <br><br>
      <input class="waves-effect waves-light btn-large" type="submit" value="Registrar">
    </form>
  </div>
</div>



