
<!--start-card detail-->
<div class="container"> 
<div class="row container">
    <div class="col s12 m8 offset-m2">
      <div class="card large">
        <div class="card-image">
        {{#if user.googleID}}
<img class="profile-img" src="{{craftman.img}}" alt="{{craftman.name}}">
{{else}}
  <img class="profile-img" src="{{craftman.img}}" alt="{{craftman.name}}">

          <span class="card-title">name: {{user.username}}</span>
    {{/if}}      
        </div>
        <div class="card-content">
          <h4>{{craftman.name}}</h4>
           <h6 class="center-align">{{craftman._id}}</h6>
          <p>{{craftman.region}}</p>
        </div>
        <div class="card-action center-align">
          <a class="waves-effect waves-light btn-large" href="/dashboard">dashboard</a>
          <br></br>
          <a href="/logout">logout</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--end-card detail-->

<!--start-table-->
<table class="striped">
  <tr>
    <th>Nombre</th>
    <th>Categoria</th>
    <th>Descripcion</th>
    <th>Precio</th>
    <th>Disponibles</th>
  </tr>
  {{#each product}}
  <tr>
    <td>{{this.name}}</td>
    <td>{{this.category}}</td>
    <td>{{this.description}}</td>
    <td>${{this.price}}</td>
    <td>{{this.quantity}}</td>
    <td><a href="/dashboard/deleteProduct/{{this._id}}">Eliminar</a></td>
  </tr>
  {{/each}} 
<button class="waves-effect waves-light btn-small"id="myBtn">Agregar artesania</button>
</table>
<!--end-table-->

<!--start-modal-->
<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <form action="/dashboard/createProduct/{{craftman._id}}" method="POST" enctype="multipart/form-data">
      <input type="text" name="name" placeholder="name">
      <br><br>
      <input type="number" name="price" placeholder="price">
      <br><br>
      <input type="number" name="quantity" placeholder="quantity">
        <br><br>
      <input type="text" name="description" placeholder="description">
        <br><br>
      <select name="category" style="width: 30%;">
        {{#each category}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
        <br><br>
      <input type="file" name="img" accept="image/*"/>
      <input class="waves-effect waves-light btn-large" type="submit" value="Crear producto">
    </form>
  </div>
</div>
<!--end-modal-->


