
<!--start-profile card-->
<div class="container"> 
<div class="row container">
    <div class="col s12 m8 offset-m2">
      <div class="card large">
        <div class="card-image">
        {{#if user.googleID}}
<img class="profile-img" src="{{user.image}}" alt="{{user.name}}">
{{else}}
  <img class="profile-img" src="{{user.image}}" alt="{{user.name}}">
{{/if}}
          <span class="card-title">name: {{user.username}}</span>
          
        </div>
        <div class="card-content">
          <p class="center-align">Administrador</p>
           <h6 class="center-align">Hola {{user.username}}</h6>
          <p>email: {{user.email}}</p>
         
        </div>
        <div class="card-action center-align">
          <a class="waves-effect waves-light btn-large" href="/dashboard">dashboard</a>
          <br></br>
          <a href="/products">Productos</a>
          <a href="/logout">logout</a>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--end-profile card-->







