<h1>Product Detail</h1>

<img src="{{img}}" style="width: 300px;">
<h1>{{name}}</h1>
<p>disponibles: {{quantity}}</p>
<p>${{price}}</p>
<p>Categoria: {{category}}</p>
<p>{{description}}</p>
<h4>Creado por {{craftsman.name}} en {{craftsman.region}}</h4>