
<section class="container">

<div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card">
        <div class="card-image">
          <img src="{{img}}">
          <a class="btn-floating halfway-fab waves-effect waves-light aqua"><i class="material-icons">add_shopping_cart</i></a>
        </div>
        <div class="card-content">
          <h5>{{name}}</h5>
          <p>Disponibles:{{quantity}}</p>
          <p>Categoria: {{category}}</p>
          <p>Creado por {{craftsman.name}} en {{craftsman.region}}</p>
          <span>${{price}}</span>
        </div>
      </div>
    </div>
    </div>

    </section>

    